Package: com.vader.liquidglasshook
Name: LiquidGlassHook
Architecture: iphoneos-arm
Depends: mobilesubstrate
Version: 0.1.0
Section: Tweaks
Maintainer: Vader
Author: Vader
Description: Force Instagram LiquidGlass tab bar and core LiquidGlass gates.
